.dock {
  display: flex;
  gap: 0.75rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(78, 77, 77, 0.256);
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(200px);
  .icon {
    padding: 0.65rem;
    border-radius: 0.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 2.7rem;
    height: 2.7rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .github,
  .cli {
    background-color: black;
  }
  .note {
    background: linear-gradient(
      to bottom,
      rgb(247, 191, 87),
      rgb(203, 137, 14)
    );
  }
  .pdf {
    background: linear-gradient(to bottom, rgb(232, 43, 43), rgb(180, 6, 6));
  }
  .calendar {
    background: linear-gradient(to bottom, rgb(71, 48, 241), rgb(52, 4, 164));
  }
  .spotify {
    background: linear-gradient(to bottom, rgb(42, 202, 24), rgb(4, 164, 4));
  }
  .mail {
    background: linear-gradient(to bottom, rgb(71, 48, 241), rgb(52, 4, 164));
  }
  .link {
    background: linear-gradient(to bottom, rgb(241, 48, 215), rgb(164, 4, 132));
  }

  .icon:hover {
    transform: scale(1.3) translateY(-16%);
  }
  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
     transform: scale(1.1) translateY(-10%);
  }
}
